@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2)format('woff2')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
#map{
    height: 70vh;
}
#main{
    background-color: #EEEEEE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15px;
}
#messageWrap{
    display: flex;
}
#input{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
}
#send{
    width: 40px;
    height: 40px;
}
#typeMsg{
    margin: 0;

}
#scrollWrap{
    overflow-y: scroll;
}

#scrollWrap::-webkit-scrollbar
{
    width: 4px;
    background-color: transparent;
}
#scrollWrap::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.3);
}

.messageWrap{
    position: relative;
    display: block;
    overflow:hidden;
    width: 100%;
}
.message{
    padding: 12px;
    display: block;
    position: relative;
    background-color: #00ADB5;
    margin: 15px;
    border-radius: 5px;
}
.message.user{
    float: right;
}
.message.bot{
    float: left;
}
@media(max-width: 700px) {
    .message{
        max-width: 80%;
    }
}
@media(min-width: 701px) {
    html{
        height: 70vh;
        overflow: hidden;
    }
    .message{
        max-width: 60%;
    }
}
.message-text{
    color: white;
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 5px;
}
.user .triangle{
    border-width: 7.5px 0 7.5px 15px;
    left: 100%;
    border-color: transparent transparent transparent #00ADB5;
}
.bot .triangle{
    right: 100%;
    border-width: 7.5px 15px 7.5px 0;
    border-color: transparent #00ADB5 transparent transparent;
}
.wrapper{
    width: 100%;
    display: block;
}